<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.DataExchange.Providers.ScreenScrapping.Sc.Pipelines.Loader.InitializeDataExchange, Sitecore.DataExchange.Providers.ScreenScrapping.Sc" />
      </initialize>
    </pipelines>
    <dataExchange>
      <ScreenScrappingRepository type="Sitecore.DataExchange.Providers.ScreenScrapping.Sc.Repositories.SitecoreRepository, Sitecore.DataExchange.Providers.ScreenScrapping.Sc">
      </ScreenScrappingRepository>
    </dataExchange>
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <!-- 
            
            Add allowedController elements here for any controllers that should be exempt 
            from the Sitecore Services Security Policy
            
            <allowedController desc="description">...</allowedController>
            
            -->
            <allowedController desc="SitecoreItemController">Sitecore.DataExchange.Providers.ScreenScrapping.Sc.Controllers.SitecoreItemController, Sitecore.DataExchange.Providers.ScreenScrapping.Sc</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>