<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="Sitecore.ContentSearch.Linq.NoReferences" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.NoReferences" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.DataExchange.NoReferences" version="1.4.170419" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Services.Core.NoReferences" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Services.Infrastructure.NoReferences" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
</packages>